* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

form {
  border: 1px solid #a9a9a9;
  padding: 20px;
}

.subtext {
  color: #a9a9a9;
  font-weight: normal;
}

#sign-in,
#sign-up {
  width: 100%;
}

a {
  color: #335eea;
  text-decoration: none;
}

label {
  font-weight: bold;
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-row label {
  font-weight: bold;
  margin-bottom: 6px;
}

input, select {
  width: 100%;
  height: 30px;
  padding: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-checkbox label {
  font-weight: normal;
  margin-left: 6px;
}

.form-radio-group {
  display: flex;
  flex-direction: column;
}

.form-radio {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.form-radio label {
  font-weight: normal;
  margin-left: 6px;
}

.form-row-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-row-group .form-row {
  width: 48%;
}

input[type="submit"] {
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
}

.form-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  margin: 30px 0;
}