* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #353843;
}

header {
  background-color: #121216;
}

header,
section {
  padding: 20px 30px;
  color: white;
}

section {
  padding-top: 40px;
}

.content-wrapper {
  width: 100%;
  max-width: 964px;
  margin: 0 auto;
}

.header-content {
  border: 1px solid #8d8ba5;
  padding: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  color: white;
}

.logo-search {
  border: 1px solid #8d8ba5;
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
}

.logo {
  min-width: max-content;
  font-size: 28px;
  font-weight: 900;
  font-family: "Caveat", sans-serif;
}

.search-bar {
  width: 400px;
  background: #1f1f27;
  padding: 10px 20px;
  border-radius: 20px;
}

.search-bar input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #8d8ba5;
  font-size: 16px;
  padding: 4px 0;
}

.search-bar i {
  color: #8d8ba5;
}

.options {
  display: flex;
  gap: 15px;
}

.option {
  min-width: 60px;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.option i {
  font-size: 20px;
  color: #d5ef9a;
}

.categories {
  background-color: #2b2d36;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.category {
  padding: 10px 18px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
}

.category:hover,
.category.active,
.section-control .view-option:hover,
.section-control .view-option.active {
  background-color: #d5ef9a;
  border: 1px solid #d5ef9a;
  color: #1f1f27;
}

.view-options {
  display: flex;
  gap: 10px;
}

.section-control {
  padding-bottom: 20px;
  border-bottom: 1px solid #8d8ba5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-control .view-option {
  width: 40px;
  height: 40px;
  border: 1px solid #8d8ba5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.products {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product {
  border: 1px solid #8d8ba5;
  border-radius: 8px;
  background-color: #2b2d36;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 15px;
  padding: 20px;
  height: 100%;
}

.product-name {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
}

.product-description {
  line-height: 24px;
  color: #8d8ba5;
  padding: 10px 15px;
  max-width: 90%;
}

.product-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #8d8ba5;
  padding: 15px;
  width: 100%;
  min-height: 60px;
}

.product-price {
  padding: 6px 12px;
}

.product-price::before {
  content: "$ ";
}

.buy-btn {
  background-color: tomato;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

/* GRID VIEW */
.grid.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.grid .product {
  width: 300px;
  padding-bottom: 30px;
}

.grid .product-image-wrapper {
  height: 200px;
}

.grid .product-info {
  text-align: center;
  padding: 0 20px 30px;
}

/* LINE VIEW */
.lines.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lines .product {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
}

.lines .product-image-wrapper {
  width: 300px;
  height: 200px;
}

.lines .product-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lines .product-info {
  flex: 1;
}

.lines .product-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LINES-ACTION VIEW */
.lines-action.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lines-action .product {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.lines-action .product-image-wrapper {
  width: 300px;
  height: 200px;
}

.lines-action .product-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lines-action .product-info {
  flex: 1;
}

.lines-action .product-action {
  border-left: 1px solid #8d8ba5;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}